<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>MyWebApplication</display-name>
	<servlet>
		<description>
		</description>
		<display-name>MyFirstServlet</display-name>
		<servlet-name>MyFirstServlet</servlet-name>
		<servlet-class>com.ojas.MyFirstServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.ojas.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CalculatorServlet</display-name>
		<servlet-name>CalculatorServlet</servlet-name>
		<servlet-class>com.ojas.CalculatorServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FashionServlet</display-name>
		<servlet-name>FashionServlet</servlet-name>
		<servlet-class>com.ojas.FashionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SampleServlet</display-name>
		<servlet-name>SampleServlet</servlet-name>
		<servlet-class>com.ojas.SampleServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserSevlet</display-name>
		<servlet-name>UserSevlet</servlet-name>
		<servlet-class>com.ojas.UserSevlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HobbyServlet</display-name>
		<servlet-name>HobbyServlet</servlet-name>
		<servlet-class>com.ojas.HobbyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrimeDemo</display-name>
		<servlet-name>PrimeDemo</servlet-name>
		<servlet-class>com.ojas.PrimeDemo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletDemo</display-name>
		<servlet-name>ServletDemo</servlet-name>
		<servlet-class>com.ojas.ServletDemo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContextDemo1</display-name>
		<servlet-name>ContextDemo1</servlet-name>
		<servlet-class>com.ojas.ContextDemo1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContextDemo2</display-name>
		<servlet-name>ContextDemo2</servlet-name>
		<servlet-class>com.ojas.ContextDemo2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyFirstServlet</servlet-name>
		<url-pattern>/MyFirstServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CalculatorServlet</servlet-name>
		<url-pattern>/CalculatorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FashionServlet</servlet-name>
		<url-pattern>/FashionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SampleServlet</servlet-name>
		<url-pattern>/SampleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSevlet</servlet-name>
		<url-pattern>/UserSevlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HobbyServlet</servlet-name>
		<url-pattern>/HobbyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrimeDemo</servlet-name>
		<url-pattern>/PrimeDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletDemo</servlet-name>
		<url-pattern>/ServletDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConfigDemo</servlet-name>
		<servlet-class>com.ojas.ConfigDemo</servlet-class>
		<init-param>
		<param-name>cname</param-name>
		<param-value>java,.net,testing,php</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HelloworldServlet</display-name>
		<servlet-name>HelloworldServlet</servlet-name>
		<servlet-class>com.ojas.HelloworldServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EvenNumbers</display-name>
		<servlet-name>EvenNumbers</servlet-name>
		<servlet-class>com.ojas.EvenNumbers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>JavaScriptDemo</display-name>
		<servlet-name>JavaScriptDemo</servlet-name>
		<servlet-class>com.ojas.JavaScriptDemo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>JavaScriptDemo1</display-name>
		<servlet-name>JavaScriptDemo1</servlet-name>
		<servlet-class>com.ojas.JavaScriptDemo1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>JavaScriptServlet</display-name>
		<servlet-name>JavaScriptServlet</servlet-name>
		<servlet-class>com.ojas.JavaScriptServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterFormServlet</display-name>
		<servlet-name>RegisterFormServlet</servlet-name>
		<servlet-class>com.ojas.RegisterFormServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SampleServlet22</display-name>
		<servlet-name>SampleServlet22</servlet-name>
		<servlet-class>com.ojas.SampleServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SampServlet</display-name>
		<servlet-name>SampServlet</servlet-name>
		<servlet-class>com.ojas.SampServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>ContextDemo1</servlet-name>
		<url-pattern>/ContextDemo1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContextDemo2</servlet-name>
		<url-pattern>/ContextDemo2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfigDemo</servlet-name>
		<url-pattern>/ConfigDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelloworldServlet</servlet-name>
		<url-pattern>/HelloworldServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EvenNumbers</servlet-name>
		<url-pattern>/EvenNumbers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JavaScriptDemo</servlet-name>
		<url-pattern>/JavaScriptDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JavaScriptDemo1</servlet-name>
		<url-pattern>/JavaScriptDemo1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JavaScriptServlet</servlet-name>
		<url-pattern>/JavaScriptServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterFormServlet</servlet-name>
		<url-pattern>/RegisterFormServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SampleServlet22</servlet-name>
		<url-pattern>/SampleServlet22</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SampServlet</servlet-name>
		<url-pattern>/SampServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		
	</welcome-file-list>
	<context-param>
		<param-name>dname</param-name>
		<param-value>com.sql.jdbc</param-value>
	</context-param>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc.mysql://localhost</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>rama</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>root</param-value>
	</context-param>
</web-app>
